#home {
    background-color: #F7ECDE;
    min-height: 100vh;
    font-family: 'PT Sans Caption', sans-serif;
    
    
   
}

#home h1 {
   text-align: center;
   padding-block: 50px;
   font-family: 'Pacifico', cursive;
   font-size: 50px;
   position: absolute;
   left: 50%;
   transform: translate(-50%);
  

}

#home h1::after{
    content: "";
    width: 100%;
    height: 22px;
    background-color: #FEC260;
    position:absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    
}

#home h1::before{
    content: "";
    width: 100%;
    height: 22px;
    background-color: #FEC260;
    position:absolute;
    top: 50%;
    left: 0%;
    z-index: -1;
    transition: all .4s;
    
}

#home h1:hover::before{
    top: 42%;
    

}
#home .top {
    border-bottom: 2px black dotted;
    height: 170px;

}
#home .mid h2 {
    background: -webkit-linear-gradient(left,#3ca55c  , #B2AB49);
   background: -o-linear-gradient(right,#3ca55c , #B2AB49);
   background: -moz-linear-gradient(right,#3ca55c , #B2AB49); 
   background-image: linear-gradient(to right , #3ca55c  ,  #B2AB49); 
 background-clip: text ;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-weight: 500;
}

#home .mid {
    border-bottom: 2px black dotted;
}


#home .botm .my-btn  {
    background-color: #9EB23B ;
    color: white;
}

#home .botm .my-btn:hover{
    background-color: #90a814;
}

::selection{
    background-color:#FEC260 ;
}


